<div>Ronaldo's 15th goal in this season's Champions League secured a dramatic, and controversial, quarter-final victory over Juventus and Madrid will now face Bayern in the last four.

    He has struck 41 times already this season and has scored well in excess of 400 goals during his Madrid career, with Wagner a big admirer of the Portugal international.
    
    Wagner said: “He is great. I like people such as him. I know that a lot of people criticise him, but I like him. It would be boring if we were all the same,
    
    "He scores more goals in games than I do in training. I will be very happy to meet him.”
    
    However, while Wagner may be a huge fan of Ronaldo, he does not fear the prospect of playing against the Champions League’s all-time top scorer.
    
    “Our defence is brutally strong, we have the best defence in Europe, so we do not need to hide," he added.
  </div>
<p>
  